.dotted_border {
  border: 2px dashed #000; /* 2px width, dotted style, black color */
  padding: 10px 0; /* Add some padding to the div for spacing */
  margin:  60px 0; /* Add some margin to the div for spacing */
}