@tailwind base;

@tailwind components;

@tailwind utilities;


@font-face {
  font-family: 'Butler';
  src: url('/Butler/Butler_Bold.otf') format('opentype');
}


/* @layer base {
  html {
    font-family: Butler, system-ui, sans-serif;
  }
} */
.main_container{
  max-width: 1268px;
  /* margin: 0 80px; */
  overflow: hidden;
}

.container_margin{
  margin: 0.25rem/* 4px */;
 
}
.container_padding{
  margin: 0 5rem;
}

.footer_image_container{
  color: #fff;
  background-image: url('/assets/images/footer_banner_image.jpg');
  height: 350px;
}

.social-icon-footer {
  width: 20px;
  height: 25px;
  margin: 5px;
  color: blue;
  background-color: #cbd5e0;
  padding: 8px;
  border-radius: 60px;
}

.social-icon-footer:hover {
  color: white;
  background-color: blue;
}
.height_500{
  height: 30rem;
}

.outer-button {
  display: inline-block;
  padding: 5px 30px;
  text-decoration: none;
  border-radius: 30px;
  color: black;
  font-size: 12px;
  font-weight: 600;
  background-color: #3498db;
  border: none; /* Remove the default button border */
  box-shadow: 
    0 0 0 3px #ffff, /* Outer border with color #3498db */
    0 0 0 5px #3498db, /* Inner border with color #ff5733 */
    0 0 0 12px transparent;  
}
.outer-button-transparent {
  display: inline-block;
  padding: 5px 30px;
  text-decoration: none;
  border-radius: 30px;
  color: transparent;
  font-size: 12px;
  font-weight: 600;
  opacity: .3;
  background-color: #3498db;
  border: none; /* Remove the default button border */
  box-shadow: 
    0 0 0 3px #ffff, /* Outer border with color #3498db */
    0 0 0 5px #3498db, /* Inner border with color #ff5733 */
    0 0 0 12px transparent;  
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  padding: 8px 16px;
  border-radius: 100%;
  border: 2px solid black;
  color: red;
  
}
#navbar li{
  border-bottom: transparent 4px solid;
}
#navbar li:hover:nth-child(4) {
  color: red;
  border-bottom: transparent 4px solid;
  transition: all 0.5s ease-out;
}
#navbar li:hover:last-child {
  color: red;
  border-bottom: transparent 4px solid;
  transition: all 0.5s ease-out;
}
#navbar li:hover{
  color: red;
  border-bottom: red 4px solid;
  transition: all 0.5s ease-out;
}

@media (min-width: 768px) {
  .container_margin {
    margin: 0 5rem; /* 80px */
  }
}










