@tailwind base;

@tailwind components;

@tailwind utilities;


@font-face {
  font-family: 'Inter', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap') ;
}



/* @layer base {
  html {
    font-family: Butler, system-ui, sans-serif;
  }
} */
.main_container{
  max-width: 1320px;
  /* margin: 0 80px; */
  overflow: hidden;
}

.container_margin{
  margin: 10rem/* 120px */;
 
}



#navbar li{
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: transparent 4px solid;
}
#navbar li:hover:nth-child(4) {
  color: red;
  border-bottom: transparent 4px solid;
  transition: all 0.5s ease-out;
}


#navbar li:hover{
  color: red;
  border-bottom: red 4px solid;
  transition: all 0.5s ease-out;
}

@media (min-width: 768px) {
  .container_margin {
    margin: 0 5rem; /* 80px */
  }
}










